In [1]:
import mysql.connector

In [2]:
db=mysql.connector.connect(user="root", password="Savarkar123@", database="college",host="localhost",auth_plugin="mysql_native_password")

In [3]:
cursor1=db.cursor()

In [4]:
sql= "show tables"

In [5]:
cursor1.execute(sql)

In [6]:
rs=cursor1.fetchall()

In [7]:
print(rs)

[('account',), ('course',), ('emp',), ('student',)]

In [10]:
for i in rs:
    print(i)

('account',)
('course',)
('emp',)
('student',)

In [9]:
cursor2=db.cursor()
sql2="select * from student"

In [10]:
cursor2.execute(sql2)

In [11]:
rs=cursor2.fetchall()

In [12]:
for i in rs:
    print(i)

(30, 'Inka', 'Brakpan', 'SC01', '5', 'B')
(201, 'Kaya', 'Boksburg', 'SC02', '5', 'B')
(307, 'Ramola', 'Johannesburg', 'COM01', '4', 'B')
(309, 'Mohan', 'Pretoria', 'COM01', '4', 'B')

In [13]:
sql3="select * from student where address like '"+ "%burg"+"'"

In [14]:
print(sql3)

select * from student where address like '%burg'

In [15]:
cursor3=db.cursor()

In [16]:
cursor3.execute(sql3)

In [17]:
rs=cursor3.fetchall()

In [18]:
for i in rs:
    print(i)

(201, 'Kaya', 'Boksburg', 'SC02', '5', 'B')
(307, 'Ramola', 'Johannesburg', 'COM01', '4', 'B')

In [19]:
#sql4="create table account(acno int,acname varchar(10),type varchar(10),balance bigint)"

In [20]:
#cursor4=db.cursor()

In [22]:
#cursor4.execute(sql4)

In [ ]:
#sql5="insert into account values(1001,'peter','savings',5000)"

In [ ]:
#print(sql5)

In [ ]:
#cursor5=db.cursor()

In [ ]:
#cursor5.execute(sql5)

In [ ]:
#cursor5.execute("commit")

In [ ]:
acno=int(input("Enter Account number"))
acname=input("Enter account name")
vtype=input("Enter type of account")
bal=int(input("Enter balance"))

sql6="insert into account values("+str(acno) + ",'"+ acname + "',"+ "'"+vtype + "',"+ str(bal) +")"

In [ ]:
print(sql6)

In [12]:
acno=int(input("Enter Account number"))
acname=input("Enter account name")
vtype=input("Enter type of account")
bal=int(input("Enter balance"))
sql6="insert into account values("+str(acno) + ",'"+ acname + "',"+ "'"+vtype + "',"+ str(bal) +")"

Enter Account number1009
Enter account namesaby
Enter type of accountsavings
Enter balance45000

In [13]:
print(sql6)

insert into account values(1009,'saby','savings',45000)

In [14]:
cursor6=db.cursor()
cursor6.execute(sql6)

In [15]:
cursor6.execute("commit")

In [29]:
acno=int(input("Enter Account number"))
acname=input("Enter account name")
vtype=input("Enter type of account")
bal=int(input("Enter balance"))
sql6= "select insert_ac1({0},'{1}','{2}',{3})".format(acno,acname,vtype,bal)

Enter Account number1010
Enter account namesavoir
Enter type of accountcurrent
Enter balance56000

In [30]:
print(sql6)

select insert_ac1(1010,'savoir','current',56000)

In [39]:
db1=mysql.connector.connect(user="root", password="Savarkar123@", database="college",host="localhost",
                            auth_plugin="mysql_native_password")

In [40]:
cursor7=db1.cursor(buffered=True)

In [41]:
cursor7.execute(sql6)

In [42]:
cursor7.execute("commit")