# Higher order functions

Filter out complex elements from an array.

Create a (4,) array with values 3, 4.5, 3 + 5j and 0 using "np.array()". Save it to a variable array
Create a boolean condition real to retain only real number using .isreal(array). 
(Note: .isreal(array) returns a Boolean value which is True if the number inside the array is a real number and False otherwise)
Now apply this Boolean condition, i.e. real, on an array using Boolean indexing (explained in the topic) by array[real] and store it in variable real_array.

Similarly create a Boolean condition imag to retain only complex numbers. You can do this using .iscomplex(array). 
Create an array imag_array that contains only complex numbers, using the Boolean condition array[imag]

In [66]:
import numpy as np
array=np.array([3,4.5,3+5j,0])

In [69]:
real=np.isreal(array)
imag=np.iscomplex(array)

In [70]:
real_array=array[real]
imag_array=array[imag]

In [ ]:
print(real_array)
print(imag_array)

In [ ]:
# **Lambda**

In [1]:
#Write a program using a user defined function to create the sum of two numbers(without lambda)

In [3]:
def add1(a,b):
    c=a+b
    return c
add1(20,40)

60

In [2]:
#write a program using lambda to create the sum of two numbers

In [4]:
add1=lambda a,b:a+b

In [5]:
add1(20,40)

60

In [6]:
#Write a Python program which accepts the radius of a circle from the user and compute the area(use labda)

In [7]:
circle_area=lambda r:3.142*r**2

In [8]:
circle_area(2)

12.568

In [9]:
#write a python program which accepts users first name and last name and print them in reverse order with space between them

In [10]:
pr_name=lambda fn,ln: ln+ " "+ fn
fname=input("Enter first name:")
lname=input("Enter last name:")
pr_name(fname,lname)

Enter first name:indrani
Enter last name:sen

'sen indrani'

In [11]:
#print the perimenter of rectangle

In [12]:
peri=lambda l,b:2*(l+b)
peri(2,3)

10

In [13]:
#print the euclidean distance between two points. formula: sqrt((x1-x2)**2 +(y1-y2)**2)

In [15]:
import math
eu_dist=lambda x1,y1,x2,y2:math.sqrt((x1-x2)**2 +(y1-y2)**2)

In [20]:
eu_dist(1,2,3,5)

3.605551275463989

In [17]:
#print the manhattan distance between two points. formula: abs((x1-x2)+(y1-y2))

In [21]:
import math
manhattan_dist=lambda x1,y1,x2,y2:(abs(x1-x2) +abs(y1-y2))
manhattan_dist(1,2,3,5)

5

# **Map and filter**

In [22]:
#print the list containing square of first 10 natural numbers

In [23]:
n=[x for x in range(1,11)] #list comprehension
n

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
list_sq=list(map(lambda x: x**2,n))

In [27]:
list_sq

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [28]:
#print the square of  even numbers from 1 to 20

In [29]:
li=[x for x in range(1,21)]

In [37]:
list_even=list(filter(lambda y:(y%2==0),li))

In [39]:
list_even_sq=list(map(lambda y:y**2,list_even))

In [40]:
list_even_sq

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

# Map and Reduce

In [42]:
#create sum of squares of first 10 natural numbers

In [47]:
import functools
li=[1,2,3,4,5,6,7,8,9,10]
sum_sq=functools.reduce(lambda x,y:x+y**2,li)
sum_sq

385

In [48]:
#create the sum of series X+x^2+x^3+x^4+x^5… where x is taken from user

In [59]:
li=[1,2,3,4,5,6,7,8,9,10]
x=2
sum_sq=functools.reduce(lambda z,y:z+x**y,li )

In [58]:
sum_sq

2045

In [18]:
def test_var_args(**kwargs):
   print (type(kwargs))
   print(kwargs)
   

test_var_args( India='New Delhi',
Australia='Canberra', China='Beijing')

<class 'dict'>
{'India': 'New Delhi', 'Australia': 'Canberra', 'China': 'Beijing'}

In [6]:
def test_var_args(*varlist):
    print (type(varlist))
    print(varlist)
test_var_args("delhi","Kolkata","Chandigarh")
test_var_args("Örange","Äpple")

<class 'tuple'>
('delhi', 'Kolkata', 'Chandigarh')
<class 'tuple'>
('Örange', 'Äpple')

In [10]:
def list_arg(**arg):
    print(arg)
    print(type(arg))

In [15]:
list_arg(name="Indrani",roll=101)

{'name': 'Indrani', 'roll': 101}
<class 'dict'>

In [13]:
def function(**arg):
      print(arg)


function(a=1, b=2, c=3, d=4)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [19]:
myList = [1, 2, 3, 4, 5]
def func(x):
    x.pop()
    x.pop()
    x.insert(2, 0)
    print ("Inside func():", x)
    
func(myList)    
print ("After function call:", myList)

Inside func(): [1, 2, 0, 3]
After function call: [1, 2, 0, 3]

In [14]:
myList = [1, 2, 3, 4, 5]
myList.index(5)

4

In [20]:
mylist=[15,20,25,67,2,1]
print(mylist)
mylist.sort()
print(mylist)
mylist.sort(reverse=True)
print(mylist)

[15, 20, 25, 67, 2, 1]
[1, 2, 15, 20, 25, 67]
[67, 25, 20, 15, 2, 1]

In [ ]:
#How To Get An Intersection Of Two Python Lists

In [ ]:
#method1 set

In [21]:
list1=[10,20,30,56,40,23]
list2=[30,35,40,45,50]

s1=set(list1)
s2=set(list2)
i=s1.intersection(s2)

In [22]:
i

{30, 40}

In [31]:
#method2 list comprehension
numlist1 = [x for x in list1 if x in[ y for y in list2]]
numlist1

[30, 40]

In [32]:
#How To Remove Duplicates From A List in Python

In [35]:
#method1 set not preserving order
list1=[10,20,20,30,56,40,23,30,40]
list2=[30,35,35,40,30,30,45,50]

li1=set(list1)
li2=set(list2)
li_nodup=li1.union(li2)

In [36]:
li_nodup

{10, 20, 23, 30, 35, 40, 45, 50, 56}

In [38]:
#method2 preserving order
list_nodup=[]
for i in list1:
    if i not in list_nodup:
        list_nodup.append(i)
for j in list2:
    if j not in list_nodup:
        list_nodup.append(j)
print(list_nodup)

[10, 20, 30, 56, 40, 23, 35, 45, 50]

In [ ]:
#Sort with custom function using key
#If you want your own implementation for sorting, the sort() method also accepts a key function as an optional parameter.

In [39]:
employees = [
    {'Name': 'Alan Turing', 'age': 25, 'salary': 10000},
    {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000},
    {'Name': 'John Hopkins', 'age': 18, 'salary': 1000},
    {'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000},
]

In [40]:
def get_name(x):
    return x["Name"]

In [41]:
def get_age(x):
    return x["age"]

In [42]:
employees.sort(key=get_age)

In [43]:
employees

[{'Name': 'John Hopkins', 'age': 18, 'salary': 1000},
 {'Name': 'Alan Turing', 'age': 25, 'salary': 10000},
 {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000},
 {'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000}]

In [44]:
employees.sort(key=get_name)

In [45]:
employees

[{'Name': 'Alan Turing', 'age': 25, 'salary': 10000},
 {'Name': 'John Hopkins', 'age': 18, 'salary': 1000},
 {'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000},
 {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000}]

In [46]:
#Find all of the numbers from 1-1000 that have a 3 in them

In [47]:
[x for x in range(1,1001) if x%10==3 or (x%100)//10==3 or (x%1000)//100==3 or x//1000==3 ]

[3,
 13,
 23,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 43,
 53,
 63,
 73,
 83,
 93,
 103,
 113,
 123,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 143,
 153,
 163,
 173,
 183,
 193,
 203,
 213,
 223,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 243,
 253,
 263,
 273,
 283,
 293,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 403,
 413,
 423,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 443,
 453,
 463,
 473,
 483,
 493,
 503,
 513,
 523,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 543,
 553,
 563,
 573,
 583,
 593,
 603,
 613,
 623,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 643,
 653,
 663,
 673,
 683,
 693,
 703,
 713,
 723,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 743,
 753,
 763,
 773,
 783,
 793,
 803,
 813,
 823,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 843,
 853,
 863,
 873,
 883,
 893,
 903,
 913,
 923,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 943,
 953,
 963,
 973,
 983,
 993]

In [ ]:
#Count the number of spaces in a string
1
+

In [48]:
sentence="Count the number of spaces in a string"
sp=[x for x in sentence if x==" "]
print(len(sp))

7

In [58]:
#Remove all of the vowels in a string
sentence="Remove all of the vowels in a string"
cons=[x for x in sentence if x in['a','e','i','o','u','A','E','I','O','U']]
for i in cons:
    sentence=sentence.replace(i,"")
sentence

'Rmv ll f th vwls n  strng'

In [55]:
#Find all of the words in a string that are less than 4 letters

In [60]:
sentence="Find all of the words in a string that are less than 4 letters"
words=sentence.split(" ")
word_4=[x for x in words if len(x)<4]
print(word_4)

['all', 'of', 'the', 'in', 'a', 'are', '4']

In [61]:
# nested tuple
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple)

('mouse', [8, 4, 6], (1, 2, 3))

In [62]:
my_tuple[1]

[8, 4, 6]

In [63]:
my_tuple[1][0]

8

In [64]:
my_tuple[2][0]

1